$color-white: rgb(255, 255, 255);
$color-red: rgb(255, 112, 112);
$color-red-dark: rgb(172, 59, 59);
$color-blue: rgb(107, 104, 255);
$color-blue-light: #457efa;
$color-blue-dark: #2552ac;
$color-purple: rgb(84, 48, 133);
$color-purple-light: rgb(125, 84, 184);
$color-dark: rgb(39, 39, 39);
$color-yellow: rgb(145, 104, 28);
$color-yellow-light: rgb(224, 173, 77);
$color-yellow-light-zetta: rgb(255, 184, 51);